<script src="https://trello.com/1/client.js?key=39dd1232d7fe8b4e38fe7e612f0ce2ba"></script>
<script src="https://api.trello.com/1/client.js?key=39dd1232d7fe8b4e38fe7e612f0ce2ba"></script>

<script type="text/javascript">
// Get all of the information about the boards you have access to

var success = function(successMsg) {
  asyncOutput(successMsg);
};

var error = function(errorMsg) {
  asyncOutput(errorMsg);
};

Trello.get('/member/me/boards', success, error);
</script>